#root{
  background-color:#dfe6e9;
}
/*Epesode card styling */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content {
  /* background-color: #a3c434; */
  background-color: #fff;
  box-shadow: 5px 10px #888888;
  color: black;
  max-width: 270px;
  padding: 7px;
  border-radius: 5px;
  margin: 8px 4px;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: auto;
}
.image:hover {
  width: 98%;
  cursor: pointer;
  transition: all 0.5s;
  border: green solid 3px;
  border-radius: 4px;
}

.content-header {
  border: 2px black solid;
  padding-left: 1px;
  border-radius: 5px;
  margin-bottom: 3px;
}
h3 {
  text-align: center;
}

.paragraph {
  font-size: 17px;
}
.span {
  text-align: center;
  background-color: rgb(104, 222, 183);
  float: right;
  margin-bottom: 4px;
  color: black;
  border-radius: 4px;
  padding: 2px;
}
.read-more{
  color: blue;
}
.read-more:hover {
  cursor: pointer;
  font-size: 18px;
  text-decoration-line: underline;
  color: blue;
}
.read-less{
  color: green;
}
.read-less:hover {
  cursor: pointer;
  font-size: 18px;
  text-decoration-line: underline;
  color: blue;
}

/* Input continer & the input */
.input-container {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
}
.search {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
.input-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.search {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
}

}

/* Style the show list and episodes dropdown */
.show-select{
  margin: 5px;
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.show-select option{
  background-color: rgb(240, 111, 111);
  cursor: pointer;
}
.episodes-select{
  margin: 5px;
  background-color: DodgerBlue;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.episodes-select option{
    background-color: rgb(245, 127, 31);
  cursor: pointer;
}
/* 
Style show list */

.show-content {
  margin: auto;
  width: 95%;
  height: 5%;
  overflow: hidden;
  background-color: rgb(94, 129, 94);
  color: white;
  /* box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5); */
  box-shadow: 5px 5px green, 10px 10px;
  padding: 10px;
  margin: 10px;
  outline: dashed 1px black;
  border-radius: 5px;
}
.casting-container {
  /* width: 70%;
  height: 20%px; */
  /* width: 800px; */
  width: 25%;
  
  /* height: 20%; */
  margin: 10px;
  padding: 0px 7px;
  font-size: 18px;
  line-height: 1.3em;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.image-sum-gen-container {
  display: flex;
  width: 100%;
  height: 50%;
}
.image-show {
  /* width: 170px; */
  width: 20%;
  margin: 5px;
  /* height: 250px; */
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}
.image-show:hover{
  border: 3px red solid;
}
.summary {
  font-size: 20px;
  width: 50%;
   box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
   margin: 10px;
   padding: 10px;
}
.show-header {
  text-align: center;
}
/* Back to shows */
#back-to-show{
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .image-sum-gen-container {
    display: flex;
    flex-wrap: wrap;
  }
  .summary {
    font-size: 20px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 10px;
    width: 100%;
  }
  .image-show {
    width: 100%;
    height: auto;
    margin: 10px;
  }
  .casting-container {
    width: 100%;
  }
}
